body {
    background: #1B2430;
    font-family: Arial;
    color: white;
}

.scramble-container {
    grid-column: 1/-1;
}

.button-container {
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-container > button {
    padding: 16px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #51557E; 
    border: none;
    color: white;
}

.button-container > button:active {
    background-color: #363954;
}

.alg-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.alg-container .checkbox-container {
    border-radius: 8px;
    padding: 32px;
    background-color: #273B4A;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
}

.alg-container > .alg-button {
    justify-self: center;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    background-color: #51557E;
    color: white;
    padding: 18px;
}

.alg-container > .alg-button:active {
    background-color: #363954;
}

.checkbox-container .checkbox-item>input {
    background-color: blue;
}


.alg-credits-container {
    grid-row-start: 4;
}

.sim-cube-container {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cube-scramble-img-container {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cube-scramble-img-container .timer-container {
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    background-color: #273B4A;
    display: flex;
    flex-direction: column;
}

.cube-scramble-img-container .timer-container button {
    border-radius: 8px;
    border: none;
    background-color: #51557E;
    color: white;
    padding: 8px;
}

.instructions-container {
    grid-column-start: 3; 
    text-align: left;
}

.document {
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
}

p {
    font-family: Arial;
    font-size: 20px;
    color: white;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
    border-color:#303030;
}

#timer {
    font-family: Arial;
    font-size: 30px;
    color: white;
}

#statistics {
    font-size: 20px;
}

p.scramble {
    vertical-align: middle; 
    text-align: center;
}

p.algdisp {


}

table {
    border-collapse: collapse;
}

th, td, tr{
    border: none;
}

.column_left {
    float: left;
    width: 30%;
}

.column_middle {
    text-align: center;
    float: left;
    width: 40%;  
}


.column_right {
    text-align: center;
    float: left;
    width: 30%;
}

.column_right .flat-3D-desc {
    font-size: small;
}

.column_right .times-container {
    
    height: 150px;
}

#timeList {
    text-align: left;
}

.algsetpicker {
    font-size: 24px;
    border-radius: 8px;
    border: none;
    width: 75%;
    padding: 16px;
    color: white;
    background-color: #51557E;
}

.algsetpicker::-webkit-scrollbar {
    width: 18px;
}

.algsetpicker::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: grey;
}

.algsetpicker::-webkit-scrollbar-track {
    border-radius: 8px;
    width: 36px;
    background-color: beige;
}

a:link {
    color: cornflowerblue
}

a:visited {
    color: darkslateblue
}


#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid white;
    border-right: 16px solid red;
    border-bottom: 16px solid green;
    border-left: 16px solid orange;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

#page {
    /* display: none; */
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
}

#controls {   
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    margin: 0 auto;
}

#controls > button {
    border-radius: 8px;
    background-color: #51557E; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#controls > button:active {
    background-color: #363954;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

#alg-overlay .overlay-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-container {
    border-radius: 8px;
    padding: 32px;
    width: 40%;
    min-height: 70%;
    background-color: #273B4A;
    position: absolute;
    top: 50%;
    left: 50%;
    /* font-size: 50px; */
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 2;
}


/* border-top: 16px solid blue;
border-right: 16px solid green;
border-bottom: 16px solid red;
border-left: 16px solid yellow; */

